<a href="https://colab.research.google.com/github/keerthimareedu3/keerthi/blob/main/KEERTHI_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SIMPLE PROGRAMAS IN PYTHON**

In [ ]:
print('hello world')

hello world

In [ ]:
a=10
b=20
c=a+b
print("c:",c)

c: 30

In [ ]:
studentname =("keerthi")

age = 22
location =("khammmam")
branch=("cse")
college=("kits")
print("studentname is:",studentname)
print("age is :",age)
print("location is:",location)
print("branch is:",branch)
print("college is:",college)

studentname is: keerthi
age is : 22
location is: khammmam
branch is: cse
college is: kits

In [ ]:

a=35
b=70
c=a+b
d=a-b
e=a*c
f=a/b
g=a%b
h=a**b
print("c=a+b:",c)
print("d=a-b:",d)
print("e=a*b:",e)
print("f=a/b:",f)
print("g=a%b:",g)
print("h=a**b:",h)

c=a+b: 105
d=a-b: -35
e=a*b: 3675
f=a/b: 0.5
g=a%b: 35
h=a**b: 1215522786132138187221252269414065116036408401525305685648214323543205017674750934020266868174076080322265625

**Data types**

In [ ]:
emp_id=3241
emp_name=("keerthi")
salary=43500
age=30
location=("hyderabad")
print("emp_id is:",emp_id)
print("emp_name is:",emp_name)
print("salary is:",salary)
print("age is:",age)
print("location is:",location)
print()
print("emp_id type is:",type(emp_id))
print("emp_name type is:",type(emp_name))
print("salary type is:",type(salary))
print("age type is:",type(age))
print("location types is:",type(location))

emp_id is: 3241
emp_name is: keerthi
salary is: 43500
age is: 30
location is: hyderabad

emp_id type is: <class 'int'>
emp_name type is: <class 'str'>
salary type is: <class 'int'>
age type is: <class 'int'>
location types is: <class 'str'>

*different data types in one program*

In [ ]:
a=12
b="keerthi"
c=12.43
d=(12,34243,534,423)
e=[13,4343,63443,"keerthi"]
f={23,34,423,953,"keerthi"}
print("value of a:",a)
print("value of b:",b)
print("value of c:",c)
print("value of d:",d)
print("value of e:",e)
print("value of f:",f)
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

value of a: 12
value of b: keerthi
value of c: 12.43
value of d: (12, 34243, 534, 423)
value of e: [13, 4343, 63443, 'keerthi']
value of f: {34, 23, 423, 953, 'keerthi'}
<class 'int'>
<class 'str'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'set'>

In [ ]:
a=5800
b=67888
c=a+b
print("c=a+b:",c)

c=a+b: 73688

In [ ]:
student_id=2345313
print("student_id")

student_id

In [ ]:
value=345
print(value)

345

# **program with comments**

In [ ]:

#student name = keerthi
#student age=21
#branch=cse
studentname=("keerthi")
age=21
branch=("cse")
print("studentname is:",studentname)
print(" age is:",age)
print("branch is:",branch)

studentname is: keerthi
 age is: 21
branch is: cse

# ***SINGLE VARIABLE PROGRAM***

In [ ]:
ph_num=8655767032
print("ph_num:",ph_num)

ph_num: 8655767032

# **MULTI VARIABLES PROGRAM**

In [ ]:
emp_id=34567
salary=56700
company=("Tech mahindra")
location=("hyderabad")
print("emp_id is :",emp_id)
print("salary is:",salary)
print("company is:",company)
print("location is:",location)

emp_id is : 34567
salary is: 56700
company is: Tech mahindra
location is: hyderabad

## **TWO VARIABLES IN ONE PRINT PROGRAM**

In [ ]:
name="keerthi"
age=21
print("name,age:",name,age)

name,age: keerthi 21

# **MULTIPLE VARIABLE IN SINGLE**

In [ ]:
a=b=c=6,7,8
print(a)
print(b)
print(c)

(6, 7, 8)
(6, 7, 8)
(6, 7, 8)

In [ ]:
p,q,s=11,13,15
print(p)
print(q)
print(s)

11
13
15

# **VARIABLE RE-INITIALIZATION**

In [ ]:
sal=12000000
sal=1500000000
print("my is sal is:",salary)

my is sal is: 56700

In [ ]:
a=range(10)
print(a)

range(0, 10)

# ***OPERATORS***

#1. Arithmetic operators

In [ ]:
a=34
b=56
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

90
-22
1904
0.6071428571428571
34
0
57918773205287127842044254126179599852840968492056164062843692360166371779746690236416

# 2.Assignment operators

In [ ]:
a=15
print(a)

a+=5
print(a)

a-=3
print(a)

a*=2
print(a)

a/=4
print(a)

a**=6
print(a)

a//=2
print(a)

a%=9
print(a)

15
20
17
34
8.5
377149.515625
188574.0
6.0

### ***3.Unary oprator***

In [ ]:
a=50
print(a)
print(-a)

50
-50

## 4.Relation operators

In [ ]:
m=76
n=90
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)
print(a==b)
print(a!=b)

False
False
True
True
False
True

# 5.Logical operators

In [ ]:
a=10
b=15
print(a and b)
print(a or b)
print(not b)

15
10
False

# 6.Membership operators

In [ ]:
q=[12,34,45,65,78]
r=[33,89,80,789]
print(34 in q)
print(11 not in q)
print(99 in r)
print(60 not in r)

True
True
False
True

# **Input and Output**

In [ ]:
a=input("enter the name:")
print("you enter name as:",a)

enter the name:keerthi
you enter name as: keerthi

In [ ]:
name=input("enter the name:")
print("you entered name as:",name)
print("type is:",type(name))

enter the name:keerthi
you entered name as: keerthi
type is: <class 'str'>

In [ ]:
name=input("enter the name:")
age=input("enter the age:")
print("you entered name as:",name)
print("you entered age:",age)
print("type is:",type(name))
print("type is:",type(age))

enter the name:keerthi
enter the age:22
you entered name as: keerthi
you entered age: 22
type is: <class 'str'>
type is: <class 'str'>

## convert string to int

In [ ]:
a=input("enter the values:")
print(a)
print(type(a))

b=int(a)
print(b)
print(type(b))

enter the values:2312
2312
<class 'str'>
2312
<class 'int'>

In [ ]:
p=input("enter the value")
print(p)
print(type(p))

q=int(p)
print(q)
print(type(q))

enter the value2311
2311
<class 'str'>
2311
<class 'int'>

# *convert string to float*

In [ ]:
a=input("enter the value")
print(a)
print(type(a))

b=float(a)
print(b)
print(type(b))

enter the value32342
32342
<class 'str'>
32342.0
<class 'float'>

In [ ]:
r=input("enter the values")
print(r)
print(type(r))
s=float(r)
print(s)
print(type(s))

enter the values4322.4334123
4322.4334123
<class 'str'>
4322.4334123
<class 'float'>

# string to bool

In [ ]:
a=input("enter the values:")
print(a)
print(type(a))

b=bool(a)
print(b)
print(type(b))

enter the values:21234
21234
<class 'str'>
True
<class 'bool'>

In [ ]:
m=input("enter the name:")
print(m)
print(type(m))

n=bool(m)
print(n)
print(type(n))

enter the name:keerthi
keerthi
<class 'str'>
True
<class 'bool'>

# string to list

In [ ]:
k=input("enter the values:")
print(k)
print(type(k))

l=list(k)
print(l)
print(type(l))

enter the values:23424
23424
<class 'str'>
['2', '3', '4', '2', '4']
<class 'list'>

## string to tuple

In [ ]:
t=input("enter the name:")
print(t)
print(type(t))

u=tuple(t)
print(u)
print(type(u))

enter the name:343541
343541
<class 'str'>
('3', '4', '3', '5', '4', '1')
<class 'tuple'>

# string to set

In [ ]:
t= input("enter the values:")
print(t)
print(type(t))

x=set(t)
print(x)
print(type(x))

enter the values:34243q
34243q
<class 'str'>
{'3', 'q', '2', '4'}
<class 'set'>

# **flow control

# 1.sequential statements

In [ ]:
print("one")
print("two")
print("three")

one
two
three

# 2.conditional statements

*if conditional*

In [ ]:
x=534
y=534
print("x==y values is:",x==y)
if x==y:
  print("if block statement executed")

x==y values is: True
if block statement executed

In [ ]:
t=6755
r=356
print("t==r values is:",t==r)
if t==r:
  print(" if block statement executed")

t==r values is: False

In [ ]:
u=235
t==35
print("u==t values is:",(u==t))
if (u==t):
  print("if block statement executed")

print("out of  if block statement executed")

u==t values is: False
out of  if block statement executed

In [ ]:
k=435
j=546
print("k<=j values is:",(k<=j))
if (k<=j):
  print("if block statement executed")

k<=j values is: True
if block statement executed

In [ ]:
m=32
n=455
print("m==n values is:",(m==n))
if(m==n):
  print("if block statement is executed")
else:
  print("else block statement is executed")

m==n values is: False
else block statement is executed

*if else conditional*

In [ ]:
k=345433
z=345433
print("k==z values is:",k==z)
if k==z:
  print("if block statement executed")
else:
  print("else block statement executed")

k==z values is: True
if block statement executed

In [ ]:
l=75543
o=22356
print("l==o values is:",l==o)
if l<=o:
  print(" if block statement executed")
else:
  print(" else block statement executed")

l==o values is: False
 else block statement executed

*if elif elif else*

In [ ]:
a=2345
b=324432
print("a!=b values is:",a!=b)
if a==b:
  print("if block statement executed")
elif a==b:
  print("elif block 1 statement executed")
elif a!=b:
  print(" elif block 2 statement executed")
else:
  print("out of elif statement executed")

a!=b values is: True
 elif block 2 statement executed

In [ ]:
print("please enter the values from 0 to 4")
k=int(input("enter the values:",))
if k==0:
  print("you enter:",k)
elif k==1:
  print("you enter value:",k)
elif k==2:
  print("you enter value:",k)
elif k==3:
  print("you enter value:",k)
else:
  print("beyond the range and specified")

please enter the values from 0 to 4
enter the values:21
beyond the range and specified

# 3.Looping

*for loop*

In [ ]:
values=[12,13,53,56,"keerthi"]
for value in values:
  print(values)

[12, 13, 53, 56, 'keerthi']
[12, 13, 53, 56, 'keerthi']
[12, 13, 53, 56, 'keerthi']
[12, 13, 53, 56, 'keerthi']
[12, 13, 53, 56, 'keerthi']

In [ ]:
data=54,6565,"keerthi",67565654,"harshii"
for value in data:
  print(data)

(54, 6565, 'keerthi', 67565654, 'harshii')
(54, 6565, 'keerthi', 67565654, 'harshii')
(54, 6565, 'keerthi', 67565654, 'harshii')
(54, 6565, 'keerthi', 67565654, 'harshii')
(54, 6565, 'keerthi', 67565654, 'harshii')

In [ ]:
char="keerthi","harshi","rani","anu"
for char in char:
  print(char)

keerthi
harshi
rani
anu

In [ ]:
value=[32,"keerthi",453,34.21]
for value in value:
  print(value)

32
keerthi
453
34.21

*while loop*

In [ ]:
x=1
while x<=10:
  print("x=",x)
  x=x+1

x= 1
x= 2
x= 3
x= 4
x= 5
x= 6
x= 7
x= 8
x= 9
x= 10

In [ ]:
r=3
while r<=10:
  print("r=",r)
  r=r+1

r= 3
r= 4
r= 5
r= 6
r= 7
r= 8
r= 9
r= 10

*break statement*

In [ ]:
x=1
while x<=10:
  print("x=",x)
  x=x+1
  if x==5:
    break

x= 1
x= 2
x= 3
x= 4

# **STRING**

In [ ]:
print("my name is kerthi")
print("my father name is srinivas rao")
print("my mother name is rani")
print("my sister name is harshi")

my name is kerthi
my father name is srinivas rao
my mother name is rani
my sister name is harshi

*Creating string program with single quotes*

In [ ]:
print('student name is keerthi')
print('hall ticket no :21M81A6713')
print('branch:cse')

student name is keerthi
hall ticket no :21M81A6713
branch:cse

*creating string program with double quotes*

In [ ]:
print("keerthi")
print("khammam")

keerthi
khammam

*creating string program with triple single quotes*

In [ ]:
print(''' keerthi''')
print(''' khammam''')

 keerthi
 khammam

*creating string program with triple double quotes*

In [ ]:
print("""keerthi""")
print(""khammam""")

*creating string by using all possibilities*

In [ ]:
student_name1=('keerthi')
student_name2=("harshi")
student_name3=('''rani''')
student_name4=("""anu""")
student_name5=('sri latha')
print()
print("name is created by using single quotes:",student_name1)
print("name is created by using double quotes:",student_name2)
print("name is created by using triple single quotes:",student_name3)
print("name is created by using triple double quotes:",student_name4)
print("name is created by using single quotes:",student_name5)

name is created by using single quotes: keerthi
name is created by using double quotes: harshi
name is created by using triple single quotes: rani
name is created by using triple double quotes: anu
name is created by using single quotes: sri latha

*creating program with triple single quotes and triple double quotes*

In [ ]:
student_data1='''keerthi
21M81A6713
cse'''
student_data2="""anusha
21M81A6706
cse"""
print(student_data1)
print(student_data2)

keerthi
21M81A6713
cse
anusha
21M81A6706
cse

*acessing string by using index*

In [ ]:
name='keerthi'
print(name[3])

r

In [ ]:
name="mareedu keerthi"
print(name[4])
print(name[9])
print(name[14])

e
e
i

*acessing string by using slicing*

In [ ]:
name="mareedu harshitha"
print(name[0:7])
print(name[8:14])
print(name[0:17])

mareedu
harshi
mareedu harshitha

*acessing string by using for loop*

In [ ]:
name="keerthi"
for char in name:
  print(char)

k
e
e
r
t
h
i

In [ ]:
name='harshitha'
for char in name:
  print(name)

harshitha
harshitha
harshitha
harshitha
harshitha
harshitha
harshitha
harshitha
harshitha

# Additional(+)operator with string

In [ ]:
a="python"
b="programming"
c="language"
print(a+b+c)

pythonprogramminglanguage

In [ ]:
k="my"
l="name"
m="is"
n="keerthi"
print(k+l+m+n)

mynameiskeerthi

# multiple(*)operator with string

In [ ]:
course="python"
print(course*5)

pythonpythonpythonpythonpython

In [ ]:
studentname="keerthi"
print(studentname*4)

keerthikeerthikeerthikeerthi

# *length of the string*

In [ ]:
course="Data science with Gen AI"
print(len(course))

24

In [ ]:
name="keerthi"
age="21"
location="hyderabad"
print(len(name))
print(len(age))
print(len(location))

7
2
9

# membership operators in strings

In [ ]:
print('p'in "python")
print('k'not in "keerthi")
print('b'in "apple")
print('z' not in "harshi")

True
False
False
True

In [ ]:
print('k'in "kits")
print('p'not in "python")
print('k'in "python")

True
False
False

In [ ]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

**Methods in strings**

*1.upper()*

In [ ]:
name="keerthi"
print(name)
print(name.upper())

keerthi
KEERTHI

In [ ]:
Details="my name is keerthi"
print(Details)
print(Details.upper())

my name is keerthi
MY NAME IS KEERTHI

*2.lower()*

In [ ]:
course="DATA SCIENCE WITH GEN AI"
print(course)
print(course.lower())

DATA SCIENCE WITH GEN AI
data science with gen ai

In [ ]:
location="HYDERABAD"
print(location)
print(location.lower())

HYDERABAD
hyderabad

*3.strip()*

In [ ]:
a="    my name is keerthi     "
print(len(a))
b=a.strip()
print(len(b))

27
18

In [ ]:
course="python                                      "
print(len(course))
x=course.strip()
print(len(x))

44
6

*4.count(P)*

In [ ]:
k="python is a coding language,python is easy to understand"
print(k.count("is"))
print(k.count("keerthi"))

2
0

In [ ]:
names="keerthi,harshi,anusha,likitha,lohitha"
print(names.count("i"))
print(names.count("ha"))

5
4

*5.replace(p1,p2)*

In [ ]:
s1="my name is keerthi"
s2=s1.replace("my name","i am")
print(s1)
print(s2)

my name is keerthi
i am is keerthi

In [ ]:
k1="how are you"
k2=k1.replace("how","where")
print(k1)
print(k2)

how are you
where are you

*6.split(P)*

In [ ]:
m="i am  a python developer"
n=m.split()
print(m)
print(n)

i am  a python developer
['i', 'am', 'a', 'python', 'developer']

In [ ]:
data="keerthi,21,hyderabad"
m=data.split()
print(data)
print(m)

keerthi,21,hyderabad
['keerthi,21,hyderabad']

# **FUNCTION**

In [ ]:
def name():
  print("welcome to function")
name()

welcome to function

In [ ]:
def name():
  print("my name is keerthi")
def age():
  print("my age is 21")
def location():
  print("my location is khammmam")
name()
age()
location()

my name is keerthi
my age is 21
my location is khammmam

In [ ]:
def list():
  print("12,34,56,78,89,")
list()

12,34,56,78,89,

In [ ]:
def names():
  print("keerthi,anusha,likitha,harshi")
names()

keerthi,anusha,likitha,harshi

In [ ]:
def s1():
  print("32,54,788,98789,9886767,9887")
def s2():
  print("654,765,8676,97867,67565")
s2()
s1()

654,765,8676,97867,67565
32,54,788,98789,9886767,9887

In [ ]:
def course1():
  print("DATA SCIENCE WITH GEN AI")
def course2():
  print("python full stack")
course2()
course1()

python full stack
DATA SCIENCE WITH GEN AI

In [ ]:
  def m1():
    print("first statement")
  def m2():
    print("second statement")
  m1()
  m2()

first statement
second statement

In [ ]:
def m1():
  print("function statement")
m2()
def m2():
  print("conditional statement")
m1()

conditional statement
function statement

In [ ]:
 def name1():
  print("keerthi")
def name2():
  print("harshi")
name1()
name2()

keerthi
harshi

### **Function with parameter**

In [ ]:
def testing(a):
  print("The cost of laptop is:",a)
testing(100000)

The cost of laptop is: 100000

In [ ]:
def data(K):
  print("python  coaching cost is :",k)
data=input("enter the cost of python coaching:")

enter the cost of python coaching:25000

In [ ]:
def a1(a):
  print("my age is:",a)
def a2(b):
  print("my frd age is:",b)
def a3(c):
  print("my sis age is:",c)
a3(65)
a1(79)
a2(44)

my sis age is: 65
my age is: 79
my frd age is: 44

## ***Function with return***

In [ ]:
def balance():
  print("my balance is",)
  return 100
balance()

my balance is

100

In [ ]:
def cost():
  print("moblie cost is :")
  return 25000
c=cost()
print(c)

moblie cost is :
25000

Retrun in mutliple function

In [ ]:
def m1():
  a=25
  b=52
  return a,b
x,y=m1()
print("first value is:",y)
print("second value is :",x)

first value is: 52
second value is : 25

In [ ]:
from IPython.core.application import SYSTEM_CONFIG_DIRS
from IPython.core.application import SYSTEM_CONFIG_DIRS
def d1():
  first=43312
  second=3125
  return first,second
third,forth=d1()
print('age is:',third)
print('num is:',forth)

age is: 43312
num is: 3125

# **ARGUMENTS**

*1.positional arguments*

In [ ]:
def add(a,b):
  print(a+b)
add(65,987)

1052

In [ ]:
def Z(m,n):
  print(m*n)
Z(45,5665)

254925

In [ ]:
def k(a,d):
  print(a/d)
k(2,4)

0.5

*2.keyword arguments*

In [ ]:
def cart(product,price):
  print("product is:",product)
  print("price is:",price)
cart(product="laptop",price=60000)

product is: laptop
price is: 60000

In [ ]:
def food(item1,item2):
  print("item1 is :",item1)
  print("item2 is :",item2)
food(item1="dosa",item2="idly")

item1 is : dosa
item2 is : idly

*3.default arguments*

In [ ]:
def details(name,age=21):
  print("my name is :", name)
  print("my age is :",age)
details("keerthi")

my name is : keerthi
my age is : 21

In [ ]:
def products(product,price=25000):
  print("product is:",product)
  print("price is :",price)
products("mobile")

product is: mobile
price is : 25000

*variable length arguments*

In [ ]:
def m(k):
  print(k)
m(2465423)

2465423

In [ ]:
def d(*a):
  print(a)
a(12,345,43.54)

(12, 345, 43.54)

# **Lambdas**

In [ ]:
s=lambda b:b*b
m=s(8)
print(m)

64

In [ ]:
add=lambda k,l:k+l
result=add(334,533)
print("The sum of k,l:",result)

The sum of k,l: 867

# *1.map(p1,p2) function*

In [ ]:
without_gst_cost=[250,550,750,950]
with_gst_cost=map(lambda x:x+70,without_gst_cost)
x=list(with_gst_cost)
print("without GST item cost:",without_gst_cost)
print("with GST items cost:",x)

without GST item cost: [250, 550, 750, 950]
with GST items cost: [320, 620, 820, 1020]

In [ ]:
product_price=[32,87,86,94]
product_price_with_discount=map(lambda y:y-5,product_price)
y=list(product_price_with_discount)
print("product prices is :",product_price)
print("product price with discount is :",y)

product prices is : [32, 87, 86, 94]
product price with discount is : [27, 82, 81, 89]

# *2.filter(p1,p2)function*

In [ ]:
items_cost=[766,886,7876765,676876]
gt_thousand=filter(lambda x:x>1000,items_cost)
x=list(gt_thousand)
print("Eligible for discount:",x)

Eligible for discount: [7876765, 676876]

# *3.reduce(p1,p2)function*

In [ ]:
from functools import reduce
items_cost=[34,54,43,90,21]
total_cost=reduce(lambda x,y:x+y,items_cost)
print(total_cost)

242

In [ ]:
from functools import reduce
latop_prices=[34000,56000,97000,1300000]
total_prices=reduce(lambda k,l:k+l,latop_prices)
print(total_prices)

1487000

In [ ]:
t=(12,20,30,40,50,60)
print(t[2:5])
print(t[2:100])
print(t[::2])

(30, 40, 50)
(30, 40, 50, 60)
(12, 30, 50)

# **TUPLES**

In [ ]:
emp_id=(122,332,324,543,3454)
print("Enter the emp_id:",emp_id)
print(type(emp_id))

Enter the emp_id: (122, 332, 324, 543, 3454)
<class 'tuple'>

In [ ]:
data=("keerthi",21,"hyderabad")
print("enter the details:",data)
print(type(data))

enter the details: ('keerthi', 21, 'hyderabad')
<class 'tuple'>

# *Single value tuple*

In [ ]:
number=(12)
print(number)
print(type(number))

12
<class 'int'>

In [ ]:
data=("keerthi")
print(data)
print(type(data))

keerthi
<class 'str'>

In [ ]:
value=10.34
print(value)
print(type(value))

10.34
<class 'float'>

# *Empty tuple*

In [ ]:
emp_id=()
print(emp_id)
print(type(emp_id))

()
<class 'tuple'>

In [ ]:
number=()
print(number)
print(type(number))

()
<class 'tuple'>

# Tuple with group of values

In [ ]:
emp_id=(123,43,43231,454323,5877)
emp_names=("keerthi","harshi","anu","kussu")
print("enter the emp_id:",emp_id)
print("enter the emp_names:",emp_names)
print(type(emp_id))
print(type(emp_names))

enter the emp_id: (123, 43, 43231, 454323, 5877)
enter the emp_names: ('keerthi', 'harshi', 'anu', 'kussu')
<class 'tuple'>
<class 'tuple'>

In [ ]:
names=("keerthi","mahitha","navya","usha")
location=("hyd","khmm","kdd","bkl")
print("enter the names:",names)
print("enter the location:",location)
print(type(names))
print(type(location))

enter the names: ('keerthi', 'mahitha', 'navya', 'usha')
enter the location: ('hyd', 'khmm', 'kdd', 'bkl')
<class 'tuple'>
<class 'tuple'>

In [ ]:
items=("pizza","briyani","KFC","burger")
cost=(150,250,350,450)
print("enter the items:",items)
print("enter the cost:",cost)
print(type(items))
print(type(cost))

enter the items: ('pizza', 'briyani', 'KFC', 'burger')
enter the cost: (150, 250, 350, 450)
<class 'tuple'>
<class 'tuple'>

# **Tuple(p)function**

*1.convert list into tuple*

In [ ]:
values=[12,435,2145,5435,55346564,]
k=tuple(values)
print("Enter the values:",k)
print(type(values))
print(type(k))

Enter the values: (12, 435, 2145, 5435, 55346564)
<class 'list'>
<class 'tuple'>

In [ ]:
names=["keerthi","harshi","rani","manasa"]
m=tuple(names)
print("Enter the names:",names)
print("Enter the names:",m)
print(type(names))
print(type(m))

Enter the names: ['keerthi', 'harshi', 'rani', 'manasa']
Enter the names: ('keerthi', 'harshi', 'rani', 'manasa')
<class 'list'>
<class 'tuple'>

*2.convert set into tuple*

In [ ]:
number={2345,3432,3445,4532332,}
a=tuple(number)
print("Enter the number:",number)
print("Enter the number:",a)
print(type(number))
print(type(a))

Enter the number: {3432, 2345, 4532332, 3445}
Enter the number: (3432, 2345, 4532332, 3445)
<class 'set'>
<class 'tuple'>

In [ ]:
values={23,43,45,54,65,564}
p=tuple(values)
print(p)
print(type(p))

(65, 564, 54, 23, 43, 45)
<class 'tuple'>

In [ ]:
emp_id={2344,3254,12323,43544,354323}
q=tuple(emp_id)
print(q)
print(type(q))

(12323, 354323, 3254, 2344, 43544)
<class 'tuple'>

*convert dic into tupl*e

In [ ]:
value={1:"apple",2:"ball",3:"cat"}
a=tuple(value)
print(a)
print(type(a))

(1, 2, 3)
<class 'tuple'>

In [ ]:
details={5:"kerthi",6:"harshi",7:"anu"}
m=tuple(details)
print(m)
print(type(m))

(5, 6, 7)
<class 'tuple'>

# Accessing of tuple

*index

In [ ]:
m=(12,34,65,78,99,43)
print(m[4])
print(m[-5])

99
34

In [ ]:
details=("keerthi","harshi","anusha")
print(details[2])
print(details[0])
print(details[-1])

anusha
keerthi
anusha

*slice

In [ ]:
a=(12,34,46,67,89,23)
print(a[0:5])
print(a[5::])
print(a[::4])

(12, 34, 46, 67, 89)
(23,)
(12, 89)

In [ ]:
names=("keerthi","anusha","kussu","nimmi")
print(names[1:4])
print(names[::3])
print(names[1::])

('anusha', 'kussu', 'nimmi')
('keerthi', 'nimmi')
('anusha', 'kussu', 'nimmi')

# Mathematical operators on tuple

1.concatenation(+)

In [ ]:
A1=(23,576,7897,890.899,"keerthi")
A2=(675,9876,3232,4322.4344,"anu")
A3=A1+A2
print(A3)

(23, 576, 7897, 890.899, 'keerthi', 675, 9876, 3232, 4322.4344, 'anu')

In [ ]:
D1=("KEERTHI","CSE","21M81A6713","KHMM")
D2=("ANUSHA","CSE","21M81A6706","KDD")
D3=D1+D2
print("Enter the details of students:",D3)

Enter the details of students: ('KEERTHI', 'CSE', '21M81A6713', 'KHMM', 'ANUSHA', 'CSE', '21M81A6706', 'KDD')

2.multuplicaton(*)

In [ ]:
  M1=(12,4353,657,345)
  M2=M1*5
  print("The values:",M2)

The values: (12, 4353, 657, 345, 12, 4353, 657, 345, 12, 4353, 657, 345, 12, 4353, 657, 345, 12, 4353, 657, 345)

In [ ]:
P=("KEERTHI",3245,"ANUSHA",32443,"HARSHI",8908776)
Q=P*9
print("Enter the details:",Q)

Enter the details: ('KEERTHI', 3245, 'ANUSHA', 32443, 'HARSHI', 8908776, 'KEERTHI', 3245, 'ANUSHA', 32443, 'HARSHI', 8908776, 'KEERTHI', 3245, 'ANUSHA', 32443, 'HARSHI', 8908776, 'KEERTHI', 3245, 'ANUSHA', 32443, 'HARSHI', 8908776, 'KEERTHI', 3245, 'ANUSHA', 32443, 'HARSHI', 8908776, 'KEERTHI', 3245, 'ANUSHA', 32443, 'HARSHI', 8908776, 'KEERTHI', 3245, 'ANUSHA', 32443, 'HARSHI', 8908776, 'KEERTHI', 3245, 'ANUSHA', 32443, 'HARSHI', 8908776, 'KEERTHI', 3245, 'ANUSHA', 32443, 'HARSHI', 8908776)

**Methods in tuples**

In [ ]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

*1.count(p)method

In [ ]:
p=(10,20,10,30,10,20,10,30)
print(p.count(10))
print(p.count(0))

4
0

In [ ]:
m=("python is a programming language,python is easy to learn,python is high level language")
print(m.count("python"))
print(m.count("language"))
print(m.count("is"))

3
2
3

2.index(p)method

In [ ]:
k=(13,56,67)
print(k.index(67))
print(k.index(56))

2
1

In [ ]:
a=("python is a programming language,python is easy to learn")
print(a.index("python"))
print(a.index("language"))
print(a.index("is"))

0
24
7

# ***LIST***

In [ ]:
a=[12,34,58997,"keerthi"]
print("values are:",a)
print(type(a))

values are: [12, 34, 58997, 'keerthi']
<class 'list'>

In [ ]:
p=[33,434,59.55,"harshi",1233,"keerthi",]
print(p)
print(type(p))

[33, 434, 59.55, 'harshi', 1233, 'keerthi']
<class 'list'>

# Empty list

In [ ]:
a=[]
print(a)
print(type(a))

[]
<class 'list'>

# Range

In [ ]:
r=list(range(15))
print(r)
print(type(r))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
<class 'list'>

In [ ]:
p=list(range(25))
print(p)
print(type(p))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
<class 'list'>

# list using index

In [ ]:
names=["keerthi","harshi","anusha","mahitha"]
print("first item:",names[0])
print("second item:",names[1])
print("third item:",names[2])
print("fourth item:",names[3])

first item: keerthi
second item: harshi
third item: anusha
fourth item: mahitha

In [ ]:
hall_tickets=["A12","A31","A45","A56"]
print(1,hall_tickets[0])
print(2,hall_tickets[1])
print(3,hall_tickets[2])
print(4,hall_tickets[3])

1 A12
2 A31
3 A45
4 A56

# list using slicing

In [ ]:
numbers=[122,432,773,988,3444,6555,9876]
print("first 3 elements:",numbers[0:3])
print("middle elements:",numbers[3:6])
print("all elements from index 3:",numbers[3:])

first 3 elements: [122, 432, 773]
middle elements: [988, 3444, 6555]
all elements from index 3: [988, 3444, 6555, 9876]

## **len(P)**

In [ ]:
a=[222,675565,787656,89786756]
print(len(a))

4

In [ ]:
p=["keerthi",123,"harshi",88.987]
print(len(p))

4

# Methods in list

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

1.count(p)

In [ ]:
n=[2,4,7,7,8,9,4,4,4,9,9,8,9]
print(n.count(4))
print(n.count(9))
print(n.count(8))

4
4
2

*2.append(p)

In [ ]:
fruits=["apple","banana"]
fruits.append("grapes")
print(fruits)

['apple', 'banana', 'grapes']

In [ ]:
numbers=[12,44,325,436]
numbers.append(256545)
print(numbers)

[12, 44, 325, 436, 256545]

*3.insert(p1,p2*)

In [ ]:
colors=["yellow","green"]
colors.insert(0,"blue")
print(colors)

['blue', 'yellow', 'green']

*4.remove(p)*

In [ ]:
animals=["cat","dog","cat","rat"]
animals.remove("cat")
print("The animals names:",animals)

The animals names: ['dog', 'cat', 'rat']

5.reverse(P)

In [ ]:
names=["keerthi","harshi","mahitha"]
names.reverse()
print(names)

['mahitha', 'harshi', 'keerthi']

*6.sort(p)*

In [ ]:
marks=[13,432,35,644,756,]
marks.sort()
print(marks)

[13, 35, 432, 644, 756]

# **MATHEMATICAL OPERATORS**

**1.Addition**

In [ ]:

m1=[12,34,45,67,96]
m2=[90,77,53,432]
m3=m1+m2
print(m3)

[12, 34, 45, 67, 96, 90, 77, 53, 432]

**2.multiplication**

In [ ]:
a=[10,20,30,40,50,60,70]
b=a*5
print(b)

[10, 20, 30, 40, 50, 60, 70, 10, 20, 30, 40, 50, 60, 70, 10, 20, 30, 40, 50, 60, 70, 10, 20, 30, 40, 50, 60, 70, 10, 20, 30, 40, 50, 60, 70]